@model IEnumerable<Car4U.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h3>Reservation</h3>


<table class="table">

    <tr class="text-center">
        <td class="neon-text">
            @Html.DisplayName("Nome")
        </td>
        <td class="neon-text">
            @Html.DisplayName("Reservation Date")
            @*@Html.DisplayNameFor(model => model.ReservationDate)*@
        </td>
        <td class="neon-text">
            @Html.DisplayName(" Return Date")
            @*@Html.DisplayNameFor(model => model.ReturnDate)*@
        </td>
        <td class="neon-text">
            @Html.DisplayName("Delivery Date")
            @*@Html.DisplayNameFor(model => model.DeliveryDate)*@
        </td>
        <td class="neon-text">
            @Html.DisplayName("Category")
        </td>
        <td class="neon-text">
            @Html.DisplayName("Final Price")
            @*@Html.DisplayNameFor(model => model.FinalPrice)*@
        </td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
