@model IEnumerable<Car4U.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservation</h2>


<table class="table">

    <tr>
        <td>
            @Html.DisplayName("Nome")
            @*@Html.DisplayNameFor(model => model.ReservationDate)*@

        </td>
        <td>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
